In [19]:
import os
import json
import pandas as pd

# Define the path to the directory containing your JSON files
json_dir = '/Users/nikhil/Desktop/Research_project/Research_project/ipl_json'

match_data = []
delivery_data = []

# Iterate over each JSON file in the directory
for file_name in os.listdir(json_dir):
    if file_name.endswith('.json'):
        file_path = os.path.join(json_dir, file_name)
        with open(file_path, 'r') as file:
            data = json.load(file)

            # Extract general match details
            match_info = data.get('info', {})
            meta_info = data.get('meta', {})
            match_id = str(meta_info.get('data_version'))  # Using 'data_version' as a placeholder for match_id

            match_row = {
                'match_id': match_id,
                'season': 'IPL-2017',  # Placeholder, adjust as necessary
                'city': match_info.get('city', None),
                'date': match_info.get('dates', [None])[0],
                'team1': match_info.get('teams', [None, None])[0],
                'team2': match_info.get('teams', [None, None])[1],
                'toss_winner': match_info.get('toss', {}).get('winner', None),
                'toss_decision': match_info.get('toss', {}).get('decision', None),
                'result': match_info.get('outcome', {}).get('result', 'normal'),
                'dl_applied': match_info.get('outcome', {}).get('method', None) == 'D/L',
                'winner': match_info.get('outcome', {}).get('winner', None),
                'win_by_runs': match_info.get('outcome', {}).get('by', {}).get('runs', 0),
                'win_by_wickets': match_info.get('outcome', {}).get('by', {}).get('wickets', 0),
                'player_of_match': match_info.get('player_of_match', [None])[0],
                'venue': match_info.get('venue', None),
                'umpire1': match_info.get('officials', {}).get('umpires', [None, None])[0],
                'umpire2': match_info.get('officials', {}).get('umpires', [None, None])[1],
                'umpire3': match_info.get('officials', {}).get('tv_umpires', [None, None])[0]
            }
            match_data.append(match_row)

            # Extract delivery data
            inning_number = 0
            for inning in data.get('innings', []):
                inning_number += 1  # Manually incrementing inning number based on the order they appear
                team = inning.get('team')
                for over in inning.get('overs', []):
                    for delivery in over.get('deliveries', []):
                        delivery_data.append({
                            'match_id': match_id,
                            'inning': inning_number,
                            'batting_team': team,
                            'over': over.get('over'),
                            'ball': delivery.get('ball', 1),  # Assuming ball number is provided or default to 1
                            'batsman': delivery.get('batter'),
                            'non_striker': delivery.get('non_striker'),
                            'bowler': delivery.get('bowler'),
                            'runs_total': delivery.get('runs', {}).get('total', 0),
                            'extras_total': delivery.get('runs', {}).get('extras', 0)  # Include extras if needed
                        })

# Convert lists to pandas DataFrames for easier manipulation and viewing
match_df = pd.DataFrame(match_data)
delivery_df = pd.DataFrame(delivery_data)

In [ ]:
match_df.head()

In [20]:
delivery_df.head(40)

,match_id,inning,batting_team,over,ball,batsman,non_striker,bowler,runs_total,extras_total
0,1.1.0,1,Sunrisers Hyderabad,0,1,TM Head,Abhishek Sharma,K Rabada,0,0
1,1.1.0,1,Sunrisers Hyderabad,0,1,TM Head,Abhishek Sharma,K Rabada,0,0
2,1.1.0,1,Sunrisers Hyderabad,0,1,TM Head,Abhishek Sharma,K Rabada,4,0
3,1.1.0,1,Sunrisers Hyderabad,0,1,TM Head,Abhishek Sharma,K Rabada,0,0
4,1.1.0,1,Sunrisers Hyderabad,0,1,TM Head,Abhishek Sharma,K Rabada,0,0
5,1.1.0,1,Sunrisers Hyderabad,0,1,TM Head,Abhishek Sharma,K Rabada,0,0
6,1.1.0,1,Sunrisers Hyderabad,1,1,Abhishek Sharma,TM Head,Arshdeep Singh,1,0
7,1.1.0,1,Sunrisers Hyderabad,1,1,TM Head,Abhishek Sharma,Arshdeep Singh,0,0
8,1.1.0,1,Sunrisers Hyderabad,1,1,TM Head,Abhishek Sharma,Arshdeep Singh,1,0
9,1.1.0,1,Sunrisers Hyderabad,1,1,Abhishek Sharma,TM Head,Arshdeep Singh,0,0
10,1.1.0,1,Sunrisers Hyderabad,1,1,Abhishek Sharma,TM Head,Arshdeep Singh,4,0
11,1.1.0,1,Sunrisers Hyderabad,1,1,Abhishek Sharma,TM Head,Arshdeep Singh,0,0
12,1.1.0,1,Sunrisers Hyderabad,2,1,TM Head,Abhishek Sharma,K Rabada,4,0
13,1.1.0,1,Sunrisers Hyderabad,2,1,TM Head,Abhishek Sharma,K Rabada,4,0
14,1.1.0,1,Sunrisers Hyderabad,2,1,TM Head,Abhishek Sharma,K Rabada,4,0
15,1.1.0,1,Sunrisers Hyderabad,2,1,TM Head,Abhishek Sharma,K Rabada,0,0
16,1.1.0,1,Sunrisers Hyderabad,2,1,TM Head,Abhishek Sharma,K Rabada,2,0
17,1.1.0,1,Sunrisers Hyderabad,2,1,TM Head,Abhishek Sharma,K Rabada,2,0
18,1.1.0,1,Sunrisers Hyderabad,3,1,Abhishek Sharma,TM Head,Arshdeep Singh,1,0
19,1.1.0,1,Sunrisers Hyderabad,3,1,TM Head,Abhishek Sharma,Arshdeep Singh,0,0
20,1.1.0,1,Sunrisers Hyderabad,3,1,AK Markram,Abhishek Sharma,Arshdeep Singh,0,0
21,1.1.0,1,Sunrisers Hyderabad,3,1,AK Markram,Abhishek Sharma,Arshdeep Singh,0,0
22,1.1.0,1,Sunrisers Hyderabad,3,1,Nithish Kumar Reddy,Abhishek Sharma,Arshdeep Singh,0,0
23,1.1.0,1,Sunrisers Hyderabad,3,1,Nithish Kumar Reddy,Abhishek Sharma,Arshdeep Singh,1,1
24,1.1.0,1,Sunrisers Hyderabad,3,1,Nithish Kumar Reddy,Abhishek Sharma,Arshdeep Singh,0,0
25,1.1.0,1,Sunrisers Hyderabad,4,1,Abhishek Sharma,Nithish Kumar Reddy,SM Curran,0,0
26,1.1.0,1,Sunrisers Hyderabad,4,1,Abhishek Sharma,Nithish Kumar Reddy,SM Curran,0,0
27,1.1.0,1,Sunrisers Hyderabad,4,1,Abhishek Sharma,Nithish Kumar Reddy,SM Curran,1,1
28,1.1.0,1,Sunrisers Hyderabad,4,1,Abhishek Sharma,Nithish Kumar Reddy,SM Curran,0,0
29,1.1.0,1,Sunrisers Hyderabad,4,1,Abhishek Sharma,Nithish Kumar Reddy,SM Curran,6,0
30,1.1.0,1,Sunrisers Hyderabad,4,1,Abhishek Sharma,Nithish Kumar Reddy,SM Curran,4,0
31,1.1.0,1,Sunrisers Hyderabad,4,1,Abhishek Sharma,Nithish Kumar Reddy,SM Curran,0,0
32,1.1.0,1,Sunrisers Hyderabad,5,1,Nithish Kumar Reddy,RA Tripathi,HV Patel,0,0
33,1.1.0,1,Sunrisers Hyderabad,5,1,Nithish Kumar Reddy,RA Tripathi,HV Patel,1,0
34,1.1.0,1,Sunrisers Hyderabad,5,1,RA Tripathi,Nithish Kumar Reddy,HV Patel,0,0
35,1.1.0,1,Sunrisers Hyderabad,5,1,RA Tripathi,Nithish Kumar Reddy,HV Patel,0,0
36,1.1.0,1,Sunrisers Hyderabad,5,1,RA Tripathi,Nithish Kumar Reddy,HV Patel,0,0
37,1.1.0,1,Sunrisers Hyderabad,5,1,RA Tripathi,Nithish Kumar Reddy,HV Patel,0,0
38,1.1.0,1,Sunrisers Hyderabad,6,1,Nithish Kumar Reddy,RA Tripathi,Harpreet Brar,1,0
39,1.1.0,1,Sunrisers Hyderabad,6,1,RA Tripathi,Nithish Kumar Reddy,Harpreet Brar,0,0

In [21]:
delivery_df.groupby(['match_id', 'inning']).sum()['runs_total'].reset_index()

/var/folders/zk/yt14z40j2lb2lz548fqr3v9m0000gn/T/ipykernel_38970/2543625688.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  delivery_df.groupby(['match_id', 'inning']).sum()['runs_total'].reset_index()

  match_id  inning  runs_total
0    1.0.0       1      136956
1    1.0.0       2      125337
2    1.0.0       3         137
3    1.0.0       4         123
4    1.0.0       5          11
5    1.0.0       6          15
6    1.1.0       1       44318
7    1.1.0       2       40859